html, body {
  background-color: white;
}
#buttons1 {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#topDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}
#sides {
  display: flex;
  justify-content: center;
  align-content: center;
}
#bottom {
  display: flex;
  justify-content: center;
  align-content: center;
}
#containerImage {
  height: 350px;
  background: url(../img/background.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#bee,#bee2 {
    transition: transform 0.5s linear;
    transform: translateX(0);
    transform: translateY(0);
    transform: scaleX(-100%);
}

#svgWraper {
  /*perspective: 366px;
  perspective-origin: 43% -83%;*/
  margin-bottom: 500px;
  animation: myCam 4s ease-in-out infinite;
}

#mySvg {
  animation: myText 4s ease-in-out infinite;
  /*transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(-19deg) rotateZ(0deg) 
              translateX(100px) translateY(2px) translateZ(100px) 
              skewX(0deg) skewY(-4deg);*/

  stroke-dasharray: 213px;
  /*stroke-dashoffset: 208px;*/
}



@keyframes myText {
  0% {
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(-45deg) rotateZ(0deg) 
              translateX(150px) translateY(50px) translateZ(200px) 
              skewX(0deg) skewY(0deg); 
    stroke-dashoffset: 424px;
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
  }
  85% { 
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
              translateX(0x) translateY(0px) translateZ(0px) 
              skewX(0deg) skewY(0deg);
    stroke-dashoffset: 208px;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
  100% { 
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
              translateX(0x) translateY(0px) translateZ(0px) 
              skewX(0deg) skewY(0deg);
    stroke-dashoffset: 208px;
  }
}

@keyframes myCam {
  0% {
    perspective: 150px;
    perspective-origin: 0% 0%;
  }
  100% { 
    perspective: 150px;
    perspective-origin: 0% 0%;
    animation-timing-function: ease-in;
  }
}

span::before {
  content: "hai";
  animation: counter 4s linear infinite;
}
@keyframes counter {
  0% {
    content: "0";
  }
  25% {
    content: "1";
  }
  50% {
    content: "2";
  }
  75% {
    content: "3";
  }
  100% { 
    content: "4";
  }
}





