<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>VUE BÁSICO</h1>
    <ol>
        <li>
            <b>Ejemplo de Data Binding en clases y estilos</b>
            <div id="div-8" v-cloak>
                <span>Usuarios contraidos</span>
                <ul>
                    <li v-for="(user, index, c) in usuariosContraidos" v-bind:key="index">
                        {{user.id}}
                    </li>
                </ul>
                <ul>
                    <li v-for="(user, index, c) in usuarios" v-bind:key="index">
                        <b>INDEX:</b>{{index+1}}<button v-on:click="contraer(user)">+</button>
                        <ul v-bind:class="{contraer:user.contraer}">
                            <li><b>ID:</b>{{user.id}}</li>
                            <li><b>NAME:</b>{{user.name}}</li>
                            <li><b>USERNAME:</b>{{user.username}}</li>
                            <li><b>EMAIL:</b>{{user.email}}</li>
                            <li>
                                <b>ADDRESS</b>
                                <ul>
                                    <li><b>STREET:</b>{{user.address.street}}</li>
                                    <li><b>SUITE:</b>{{user.address.suite}}</li>
                                    <li><b>CITY:</b>{{user.address.city}}</li>
                                    <li><b>ZIPCODE:</b>{{user.address.zipcode}}</li>
                                    <li><b>LAT:</b>{{user.address.geo.lat}}</li>
                                    <li><b>LNG:</b>{{user.address.geo.lng}}</li>
                                </ul>
                            </li>
                            <li><b>PHONE:</b>{{user.phone}}</li>
                            <li><b>WEBSITE:</b>{{user.website}}</li>
                            <ul>
                                <b>COMPANY</b>
                                <ul>
                                    <li><b>NAME:</b>{{user.company.name}}</li>
                                </ul>
                                <li><b>CATCHPHRASE:</b>{{user.company.catchPhrase}}</li>
                                <li><b>BS:</b>{{user.company.bs}}</li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
    </ol>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="index.js"></script>
</body>

</html>