<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="add(2)" >Add</button> <!-- //Podem fer servir metodes per utilitzar listeners. OJO com ho fem. Ho podem fer both add o add() -->
      <button v-on:click  ="reduce">Remove</button>
      <p>Result: {{ counter }}</p>
      <input type="text" v-on:input="setname($event,'Lopez')">
      <p>Result: {{ name }}</p>
      <input type="text" v-on:input="setname($event,'Lopez')"  v-on:Keyup.enter ="confirmedInput">
      <p>Result: {{ confirmedNamed }}</p>
    <form v-on:submit.prevent="submitForm">
      <input type="text">
        <button>Sign up</button>
    </form>  
  </section>
  </body>
</html>
