<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <!-- Vue App container-->
    <div id="app">
        <h2>News</h2>
        <ul class="list-group tasks">
            <li is="app-task" app-task v-for="(task, index) in tasks" :task="task" :index="index" :tasks="tasks" @remove="deleteTask"></li>
        </ul>
        <!-- FORM -->
        <form @submit.prevent="createTask" class="new-task-form">
            Title <input v-model="new_title" type="text" class="form-control">
            Body <input v-model="new_bod" type="text" class="form-control">
            <button class="btn btn-primary">Publish new</button>
        </form>
        <button @click="deleteCompleted" class="deleteTasks btn btn-primary">Delete viewed news</button>
    </div>
    <!-- VUE LIST COMPONENT -->
    <script type="text/x-template" id="task-template">
        <li class="list-group-item"
                :class="{ editing: editing, completed: !task.pending }">
            <a @click="toggleStatus" href="#">
                <app-icon :img="task.pending ? 'unchecked' : 'check'" aria-hidden="true">
            </a>
            <!-- Templates for editing and non editing mode icons and input -->
            <template v-if="!editing">
                <span class="title">{{ task.title }}</span>
                <span class="news-bod">{{ task.news_bod }}</span>
                
                <!-- Non editing mode icons -->
                <div>
                    <a @click="edit">
                        <app-icon img="edit"></app-icon>
                    </a>
                    <a @click="remove">
                        <app-icon img="trash"></app-icon>   
                    </a>
                </div>
            </template>             
            
            <!-- Template editing mode -->
            <template v-else>
                <!-- task being edited mode -->
                <input type="text" v-model="draft">
                <!--
                <input class="news_body" type="text" v-model="draft_bod">
                -->
                <textarea class="news_body" v-model="draft_bod"></textarea>
                <!-- Editing mode icons -->
                <div>
                    <a @click="update">
                        <app-icon img="ok"></app-icon>
                    </a>
                    <a @click="discard">
                        <app-icon img="remove"></app-icon>
                    </a>
                </div>
            </template>
        </li>
    </script>
    <!-- INCLUDE VUE -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="js/vueapp.js"></script>
</body>
</html>