html, body {
  background-color: white;
}
#buttons1 {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#topDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}
#sides {
  display: flex;
  justify-content: center;
  align-content: center;
}
#bottom {
  display: flex;
  justify-content: center;
  align-content: center;
}
#containerImage {
  height: 350px;
  background: url(../img/background.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#bee,#bee2 {
    transition: transform 0.5s linear;
    transform: translateX(0);
    transform: translateY(0);
    transform: scaleX(-100%);
}

#svgWraper {
  margin-bottom: 500px;
  animation: myCam 7s ease-in-out infinite;
}

#mySvg {
  animation: myText 7s ease-in-out infinite;

  stroke-dasharray: 216px;
}



@keyframes myText {
  0% {
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(-45deg) rotateZ(0deg) 
              translateX(150px) translateY(50px) translateZ(200px) 
              skewX(0deg) skewY(0deg); 
    stroke-dashoffset: 430px;
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
  }
  66% { 
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
              translateX(0x) translateY(0px) translateZ(0px) 
              skewX(0deg) skewY(0deg);
              stroke-dashoffset: 216px;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
  99% { 
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
              translateX(0x) translateY(0px) translateZ(0px) 
              skewX(0deg) skewY(0deg);
              stroke-dashoffset: 216px;
    animation-timing-function: linear;
  }
  100% {
    transform: scaleX(1) scaleY(1) scaleZ(1) 
              rotateX(0deg) rotateY(-45deg) rotateZ(0deg) 
              translateX(150px) translateY(50px) translateZ(200px) 
              skewX(0deg) skewY(0deg); 
    stroke-dashoffset: 430px;
  }
}

@keyframes myCam {
  0% {
    perspective: 300px;
    perspective-origin: 0% 0%;
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
  }
  66% { 
    perspective: 5500px;
    perspective-origin: 0% 0%;
    animation-timing-function: ease-in;
  }
  100% { 
    perspective: 5500px;
    perspective-origin: 0% 0%;
    animation-timing-function: ease-in;
  }
}

span::before {
  content: "hai";
  animation: counter 4s linear infinite;
}
@keyframes counter {
  0% {
    content: "0";
  }
  25% {
    content: "1";
  }
  50% {
    content: "2";
  }
  75% {
    content: "3";
  }
  100% { 
    content: "4";
  }
}





