label {
    display: inline-block;
    width: 173px;
    margin-left: 25px;
}
select {
    width: 14.5em;
}
#errAge {
    color: red;
    display:none;
}
#errAge.checked {
    display:block;
}
#mailWarn {
    color: red;
    display:none;
}
#mailWarn.invalid {
    display:block;
}
#bar {
    display: none;
}
#bar.visible {
    display: block;
}
#keyWarn {
    color: red;
    display: none;
}
#keyWarn.visible {
    display: block;
}
.conditions {
    width: 75%;
}
#condWarn {
    display: none;
    color: red;
}
#condWarn.visible {
    display: block;
}
#docWarn {
    color: red;
    display: none;
}
#docWarn.visible {
    display: block;
}