* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border:0;
}
html{background: url(../img/bg/bg.gif); no-repeat center; background-size:2020px 1180px; width:100%; height:100%;background-position: center center;}
html,body {
  min-height: 98vh;
}
canvas {
  /*! position: absolute; */
  /*! width: 100%; */
  /*! height: 100%; */
}
#background {
  /*! background-image: url(../img/bg/bg.gif); */ /*! *\/ */
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: -86%;
  left: 0;
  background-size: 2000px 1180px;
  background-attachment: fixed;
  background: url(../img/ground/ground.png) repeat-x;
  /*! background-color: red; */
}
#ground {
  /*! background-image: url(../img/ground/ground.png); */
  width:100%;
  height: 115px;
  position: fixed;
  bottom: -23px;
  /*! background-attachment: fixed; */
  /*! background-repeat: repeat-x; */
  /*! background-position-y: 26px; */
  background: url(..img/ground/ground..png) repeat-x;
  background-size: 100%;
}
.mostro {
  width:228px; 
  height: 184px;
  /*! background-color: red; */
  position: absolute;
  bottom: 124px;
  left: 0;  
  background-image: url(../img/mostro/midle.png);
}