<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="navbar">
    <ul>
      <li v-for="item in items" :class="item.active : active">{{ item }}</li>
    </ul>
</div>  
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="js/navbar.js"></script>
  </body>
</html>