<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="sortApp">
    <ul>
      <li v-for="item in items">{{ item.id }} {{ item.title }} {{ item.body }}</li>
    </ul>
    <button v-on:click="sortById">Sort by Id</button>
    <button v-on:click="sortByTitle">Sort by Title</button>
    <button v-on:click="sortByBody">Sort by Body</button>
</div>  
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="js/sortable.js"></script>
  </body>
</html>