#demo {
    overflow: hidden;
  }
  
  .slide-leave-active,
  .slide-enter-active {
    transition: 1s;
  }
  .slide-enter {
    transform: translate(100%, 0);
  }
  .slide-leave-to {
    transform: translate(-100%, 0);
  }
  
  .slideback-leave-active,
  .slideback-enter-active {
    transition: 1s;
  }
  .slideback-enter {
    transform: translate(-100%, 0);
  }
  .slideback-leave-to {
    transform: translate(100%, 0);
  }
  
  .div-slider{
    overflow: hidden;
    position: relative;
    min-height: 350px;
    width: 90%;
  }
  
  .div-slider .card {
    position: absolute;
    min-height: 350px;
    width: 90%;
  }
#nextButton {
  position: absolute;
  left: 95px;
}
#keepMargin {
  position: relative;
  left: -218px;
  opacity: 1;
}