<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="myTransitions.css">
    <link rel="stylesheet" href="transitions.css">
</head>
<body><div id="demo">
    <h3>
      div slider
    </h3>
    <transition-group tag="div" class="div-slider" :name="back? 'slideback' : 'slide'">
      <div v-if="currentIndex === 0" key="1">
      <div class="card">
        DIV 1
      </div>
      </div>
      <div v-if="currentIndex === 1" key="2" >
      <div class="card">
        DIV 2
      </div>
      </div>
      <div v-if="currentIndex === 2" key="3" >
      <div class="card">
        DIV 3
      </div>
      </div>
    </transition-group>
    <transition name="fade" mode="out-in">
        <button @click="prev()" v-if="prevVisible">prev</button>
    </transition>
    <transition name="fade" mode="out-in">
        <button @click="next()" v-if="nextVisible" id="nextButton">next</button>
    </transition>
    <!-- this button v is a placeholder to maintain the botton margin and avoid lower elements to 
        come upwards (next button is absolutely possitioned, thus it has no margin when prev button dissapears)-->
    <button id="keepMargin">placeholder</button>
    
</div>
<!-- MY TRANSITIONS -->
<div id="myTransitions">
    <div :class="{ shake: noActivated }">
        <button @click="noActivated = !noActivated">Click me</button>
        <span v-if="noActivated">Oh no!</span>
    </div>
    <div
    @mousemove="xCoordinate"
    :style="{ backgroundColor: `hsl(${x}, 80%, 50%)` }"
    class="movearea"
  >
    <h3>Move your mouse across the screen...</h3>
    <p>x: {{x}}</p>
  </div>
</div>
    <!-- TRANSICIONES-->
    <h1>VUE BÁSICO</h1>
    <ol>
        <li>
            <b>Ejemplo de transiciones</b>
            <div id="div-9" v-cloak>
                <button v-on:click="show">Mostar.. {{mostrar}}</button>
                <transition name="zoom" mode="out-in">
                    <section v-if="mostrar" key="IF">IF</section>
                    <section v-else key="ELSE">ELSE</section>
                </transition>

                <transition name="fade">
                    <section v-if="mostrar">TRANSITION</section>
                </transition>

                <transition name="zoom">
                    <section v-if="mostrar">ANIMATION</section>
                </transition>

                <transition name="zoom" appear>
                    <section v-if="mostrar">APPEAR</section>
                </transition>
            </div>
        </li>
    </ol>


  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="js/1.js"></script>
</body>
</html>