#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 650px;
  margin: 10vh auto;
}
ul {
  width: 53%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: auto;
}
.list-group-item {
  width: 653px;
}
.list-group-item div{
  width: 46px;
  float: right;
}
.list-group-item > span, .list-group-item > input {
  margin: 0 15px;
}

li input {
  border: none;
  width: 84%;
}
li.completed , li.completed span:before{
  color: gray !important;
}
li.completed span.description{
  text-decoration: line-through;
}

/* FORM */
form {
  width: 653px;
  display: flex;
  justify-content: space-between;
}
form input{
  margin-right: 15px;
}
.deleteTasks {
  margin-top: 10px;
  align-self: flex-start;
}