<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <!-- Vue App container-->
    <div id="app">
        <h2>Tareas</h2>
        <ul class="list-group tasks">
            <li v-for="(task, index) in tasks" class="list-group-item"
                :class="{ editing: task.editing, completed: !task.pending }">
                <a @click="toggleStatus(task)" href="#"><span class="glyphicon"
                            :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'"
                            aria-hidden="true"></span></a>
                <!-- Templates for editing and non editing mode icons and input -->
                <template v-if="!task.editing">
                    <span class="description">{{ task.description }}</span>
                    
                    <!-- Non editing mode icons -->
                    <div>
                        <a @click="editTask(task)">
                            <span class="glyphicon glyphicon-edit"
                            aria-hidden="true"></span>
                        </a>
                        <a @click="deleteTask(index)">
                            <span class="glyphicon glyphicon-trash"
                            aria-hidden="true"></span>
                        </a>
                    </div>
                </template>             
                
                <!-- Template editing mode -->
                <template v-else>
                    <!-- task being edited mode -->
                    <input type="text" v-model="draft">
                    <!-- Editing mode icons -->
                    <div>
                        <a @click="updateTask(task)">
                            <span class="glyphicon glyphicon-ok"
                            aria-hidden="true"></span>
                        </a>
                        <a @click="discardTask(task)">
                            <span class="glyphicon glyphicon-remove"
                            aria-hidden="true"></span>
                        </a>
                    </div>
                </template>
                    
            </li>
        </ul>
        <!-- FORM -->
        <form @submit.prevent="createTask" class="new-task-form">
            <input v-model="new_task" type="text" class="form-control">
            <button class="btn btn-primary">Create task</button>
        </form>
        <button @click="deleteCompleted" class="deleteTasks btn btn-primary">Delete completed tasks</button>
    </div>
    <!-- INCLUDE VUE -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="js/vueapp.js"></script>
</body>
</html>