body {
  background: #f2f2f2;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
}

/* buttons */

.sort-orders a {
  background: #999;
  padding: 10px 14px;
  margin: 0 10px 0 0;
  border-radius: 2px;
  cursor: pointer;
}

.sort-orders a:hover {
  background: #888;
}

.sort-orders a.active {
  background: #49b293;
}