body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  div {
    box-shadow: 1px 1px 5px;
    padding: 5px;
    text-align: center;
    width: 50%;
  }