<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
      <!--<script src="https://unpkg.com/vue@next" defer></script>
      --><script src="https://unpkg.com/vue@next"></script>
      <script src="app.js" defer></script>

  </head>
  <body>
    <h1>Add elements to list app.</h1>
      <!-- specifies the container element linked to the app -->
       <div id="myApp">
      <div>
        
          <label >Create element
            <!-- v-model (textItem) links input value to variable in app, from here it will recieve and send
                the value of it to the app -->
            <input v-model="textItem">
          </label>
          <!-- v-on:click => calls the addItem method defined in the app -->
            <input type="submit" value="Add item"  v-on:click="addItem">

      </div>
      <ul>
        <!-- defines the blueprint of the item (a li elemnt for each elment in itemsArray), 
          and also defines to print all elements from the collection
        "itemsArr" -->
       <li v-for="item in itemsArr">
         <!-- value of a single item in itemsArr -->
         {{ item }}
       </li>
      </ul>
    </div>
    
  </body>
</html>
